body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFadeIn {
  from {
    filter: brightness(80%);
    transform: scale(1.1);
  }
  to {
    filter: brightness(100%);
    transform: scale(1);
  }
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 5px 5px 4px #000000, 0 0 10px rgba(255, 201, 115, 0.3);
  }
  50% {
    text-shadow: 5px 5px 4px #000000, 0 0 20px rgba(255, 201, 115, 0.6),
      0 0 30px rgba(255, 201, 115, 0.4);
  }
}
